{"openapi":"3.0.0","info":{"title":"PLATEAU API（試験提供中）","version":"1.0","description":"PLATEAUに関する様々なデータの取得が行えるAPIです。試験運用中であり、APIの仕様は予告なく変更される可能性があります（SLAも保証していません）。"},"servers":[{"url":"https://api.plateauview.mlit.go.jp"}],"paths":{"/datacatalog/graphql":{"get":{"summary":"データカタログ GraphQL Playground","tags":["Data Catalog API"],"responses":{"200":{"description":"GraphQL Playground","content":{"text/html":{"schema":{"type":"string","format":"html"}}}}}},"post":{"summary":"データカタログ GraphQL API","description":"GraphQLスキーマはPlaygroundで確認できます。","tags":["Data Catalog API"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string","description":"GraphQL query or mutation"},"variables":{"type":"object","additionalProperties":true,"description":"Optional variables for the query"}}}}}},"responses":{"200":{"description":"GraphQL response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","description":"The response data"},"errors":{"type":"array","description":"The list of errors","items":{"type":"object","properties":{"message":{"type":"string","description":"The error message"},"locations":{"type":"array","items":{"type":"object","properties":{"line":{"type":"integer","description":"The line number"},"column":{"type":"integer","description":"The column number"}}}}}}}}}}}}}}},"/datacatalog/plateau-datasets":{"get":{"summary":"データカタログ シンプルAPI","tags":["Data Catalog API"],"description":"3D Tiles/MVT のデータセット一覧、複合 tileset.json のリスト、および CityGML データセット一覧がJSON形式で返却されます。","responses":{"200":{"description":"成功時のレスポンス","content":{"application/json":{"schema":{"type":"object","properties":{"datasets":{"type":"array","items":{"type":"object","description":"3D Tiles/MVT のデータセットを表すオブジェクト。","properties":{"id":{"type":"string","description":"データセットのID"},"name":{"type":"string","description":"データの名称"},"pref":{"type":"string","description":"都道府県名"},"pref_code":{"type":"string","description":"2桁の都道府県コード"},"city":{"type":"string","description":"市区町村名"},"city_code":{"type":"string","description":"5桁の市の市区町村コード"},"ward":{"type":"string","nullable":true,"description":"区名。政令指定都市の場合のみ、区の名前が含まれる。\n"},"ward_code":{"type":"string","nullable":true,"description":"5桁の区の市区町村コード。政令指定都市の場合のみ、区ごとの市区町村コードが含まれる。\n"},"type":{"type":"string","description":"配信している3D都市モデルの地物型の種別。\n例: \"建築物モデル\"\n","example":"建築物モデル"},"type_en":{"type":"string","description":"種別の英語名。\n例: \"bldg\" は建築物モデルを意味する。\n","example":"bldg"},"url":{"type":"string","format":"uri","description":"3D Tiles の場合は tileset.json の URL。\nMVT の場合は `{z}/{x}/{y}.mvt` のようなタイル URL。\n"},"layers":{"type":"array","nullable":true,"description":"MVTのみ利用可能なレイヤー名リスト。3D Tilesの場合はnull。","items":{"type":"string"}},"year":{"type":"integer","description":"データが整備された年度。\n例: 2023 は2023年度に整備されたデータ。\n","example":2023},"registration_year":{"type":"integer","description":"データがPLATEAU VIEWに登録された年度。\n例: 2023 は2023年度に登録されたデータ。\n","example":2023},"spec":{"type":"string","description":"原典となるCityGMLデータが準拠するPLATEAU 3D都市モデル標準製品仕様書のバージョン（文字列）。\n","example":"3.3"},"format":{"type":"string","description":"データ形式","enum":["3D Tiles","MVT"]},"format_version":{"type":"string","nullable":true,"enum":["1.0","1.1"],"description":"3D Tiles のフォーマットバージョン。3D Tiles の場合のみ `\"1.0\"` または `\"1.1\"` が入ります。\n2025年度以降に Flow で変換されたデータは `\"1.1\"`、それ以外（従来の FME 等で変換されたもの）は `\"1.0\"` です。\nMVT など 3D Tiles 以外のフォーマットでは省略されます。\n"},"lod":{"type":"string","description":"データのLOD","example":"1"},"texture":{"type":"boolean","description":"3D Tilesでテクスチャがある場合は `true`。テクスチャがない場合やMVTの場合は `false`。"},"interior":{"type":"boolean","nullable":true,"description":"CityGML 3.0 の屋内モデル区分。`true` のデータセットは\n屋内モデル専用で、屋外モデルとは別行として現れます。\ninterior 概念がそもそも適用されないデータでは省略されます。\n"},"composite_url":{"type":"string","format":"uri","nullable":true,"description":"このデータセットを単独で利用するための動的生成 URL。\n- `3D Tiles`: 複合 `tileset.json` (`/datacatalog/3dtiles/{spec}/tileset.json`)\n- `MVT`:      自治体単位の TileJSON (`/datacatalog/mvt/{spec}/tilejson.json`)\nデータの市区町村コードや整備年度などが揃っていない行は `null`。\n"}},"required":["id","name","pref","pref_code","city","city_code","type","type_en","url","year","registration_year","spec","format","lod","texture"]}},"composite_tilesets":{"type":"array","description":"実データから派生して列挙された複合 tileset.json のリスト。\n全国（`area: \"all\"`）と都道府県別（`area: \"pref\"`）を含みます。\n各 `(area, type, lod)` の組について、整備年度ごとのエントリ\n（`year` が西暦4桁文字列）に加えて、各自治体の最新整備年度を\n自動採用する `year: \"latest\"` のエントリも列挙されます。\nテクスチャ別のバリエーション（`-texture`/`-notexture`）は、同一の\n`(area, type, lod, year)` に対して両方のデータが存在する場合のみ列挙されます。\n","items":{"type":"object","properties":{"id":{"type":"string","description":"spec 文字列。例 `all-bldg-lod1-2025`"},"url":{"type":"string","format":"uri","description":"複合 tileset.json の完全な URL"},"area":{"type":"string","enum":["all","pref"],"description":"`all` は全国、`pref` は都道府県単位"},"pref_code":{"type":"string","nullable":true,"description":"都道府県コード（`area` が `pref` の場合のみ）"},"pref":{"type":"string","nullable":true,"description":"都道府県名（`area` が `pref` の場合のみ）"},"type":{"type":"string","description":"種別の日本語名"},"type_en":{"type":"string","description":"種別の英語コード（例 `bldg`）"},"lod":{"type":"integer"},"interior":{"type":"boolean","nullable":true,"description":"`true` の場合は CityGML 3.0 屋内モデルの集約。\n屋外モデルとは別エントリとして現れ、interior 概念が\n適用されないデータでは省略されます。\n"},"texture":{"type":"boolean","nullable":true,"description":"`null`: 自動（テクスチャ優先、無ければテクスチャなし）。\n`true`: テクスチャあり限定。`false`: テクスチャなし限定。\n"},"year":{"type":"string","description":"整備年度（西暦4桁文字列、例 `\"2025\"`）または `\"latest\"`。\n`\"latest\"` の場合、URL は各自治体の最新整備年度の 3D Tiles を採用する複合 tileset.json を返します。\n"},"format_version":{"type":"string","enum":["1.0","1.1"],"description":"複合 `tileset.json` の wrapper の `asset.version`。\nwrapper が参照する各子 `tileset.json` のうち、判明しているフォーマットバージョンの最大値を採用し、\nすべて不明な場合は `\"1.0\"` にフォールバックします。子のうちひとつでも 1.1 があれば wrapper も 1.1 になります。\n"}},"required":["id","url","area","type","type_en","lod","year","format_version"]}},"citygml":{"type":"array","description":"自治体ごとの CityGML データセットのリストです。\n地物型ごとには分かれず、各自治体の全地物型を 1 つの zip ファイルにまとめた形で、自治体ごとに 1 件返却されます。\n","items":{"type":"object","description":"自治体ごとの全地物型をまとめた CityGML データセットを表すオブジェクト。","properties":{"id":{"type":"string","description":"データセットのID（市区町村コードと一致）"},"pref":{"type":"string","description":"都道府県名"},"pref_code":{"type":"string","description":"2桁の都道府県コード"},"city":{"type":"string","description":"市区町村名"},"city_code":{"type":"string","description":"5桁の市区町村コード"},"url":{"type":"string","format":"uri","description":"CityGML の zip ファイルの URL。地物型ごとには分かれず、各自治体の全地物型を 1 つにまとめた zip ファイルです。\n"},"composite_url":{"type":"string","format":"uri","nullable":true,"description":"自治体・整備年度を指定して zip ファイルへリダイレクトする安定 URL\n(`/datacatalog/citygml/{spec}/citygml.zip`)。`url` の CMS 直リンクが\n将来変わってもアプリケーション側の URL を書き換える必要がありません。\n"},"feature_types":{"type":"array","description":"この CityGML が含む地物型コードのリスト。\n例: `[\"bldg\", \"tran\", \"dem\"]`\n","items":{"type":"string"}},"year":{"type":"integer","description":"データが整備された年度（西暦）。","example":2024},"registration_year":{"type":"integer","description":"データがPLATEAU VIEWに登録された年度（西暦）。","example":2024},"spec":{"type":"string","description":"原典となる CityGML データが準拠する PLATEAU 3D 都市モデル標準製品仕様書のバージョン（文字列）。\n","example":"4.1"}},"required":["id","pref","pref_code","city","city_code","url","feature_types","year","registration_year","spec"]}},"latest_datasets":{"type":"array","description":"自治体単位の `-latest` 3D Tiles / MVT エントリのリスト。\n`(自治体, 種別, LOD, 形式)` の組ごとに最新整備年度の行から派生し、\n`url` には `-latest` で解決される動的エンドポイントが入ります。\n新しい整備年度のデータが公開されるとレスポンス内容が自動的に追従するため、\nアプリケーション側で URL を書き換える必要がありません。\n","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"pref":{"type":"string"},"pref_code":{"type":"string"},"city":{"type":"string","nullable":true},"city_code":{"type":"string","nullable":true},"ward":{"type":"string","nullable":true},"ward_code":{"type":"string","nullable":true},"type":{"type":"string"},"type_en":{"type":"string"},"url":{"type":"string","format":"uri","description":"`-latest` で解決される動的 URL。\n- 3D Tiles: `/datacatalog/3dtiles/{spec}/tileset.json`\n- MVT:      `/datacatalog/mvt/{spec}/tilejson.json`\n"},"layers":{"type":"array","nullable":true,"items":{"type":"string"}},"year":{"type":"string","enum":["latest"]},"format":{"type":"string","enum":["3D Tiles","MVT"]},"format_version":{"type":"string","nullable":true,"enum":["1.0","1.1"],"description":"3D Tiles のフォーマットバージョン。3D Tiles の場合のみ `\"1.0\"` または `\"1.1\"` が入ります。\nMVT など 3D Tiles 以外のフォーマットでは省略されます。\n"},"lod":{"type":"string","nullable":true},"interior":{"type":"boolean","nullable":true,"description":"CityGML 3.0 屋内モデルの場合に `true`。"},"texture":{"type":"boolean","nullable":true}},"required":["id","name","pref","pref_code","type","type_en","url","year","format"]}},"latest_citygml":{"type":"array","description":"自治体単位の `-latest` CityGML エントリのリスト。\n自治体ごとに最新整備年度の zip にリダイレクトする URL を提供し、\n新しいデータ公開時にも URL の変更が不要です。\n","items":{"type":"object","properties":{"id":{"type":"string"},"pref":{"type":"string"},"pref_code":{"type":"string"},"city":{"type":"string"},"city_code":{"type":"string"},"url":{"type":"string","format":"uri","description":"`/datacatalog/citygml/{cityCode}-latest/citygml.zip`"},"feature_types":{"type":"array","items":{"type":"string"}},"year":{"type":"string","enum":["latest"]}},"required":["id","pref","pref_code","city","city_code","url","feature_types","year"]}}},"required":["datasets","latest_datasets","composite_tilesets","citygml","latest_citygml"]}}}}}}},"/datacatalog/3dtiles/{spec}/tileset.json":{"get":{"summary":"複合 3D Tiles tileset.json","tags":["Data Catalog API"],"description":"都市別の 3D Tiles を `content.uri` で間接参照する単一の `tileset.json` を動的生成します。\nCesium に URL を渡すだけで、対象範囲の全都市の 3D Tiles をまとめて表示できます。\n\nパスパラメータ `spec` の書式は次の通りです：\n\n```\n<area>-<type>-<lod>[-interior][-<texture>]-<year>\n```\n\n- `area`:\n  - `all`: 全国\n  - 2桁の数字: 都道府県コード（例: `13` = 東京都）\n  - 5桁の数字: 市区町村コード（区がある場合は区コード、無ければ市コード）\n- `type`: データセットの種別コード（例: `bldg`）\n- `lod`:\n  - `lod<N>`: LOD が `<N>` と完全一致するデータのみ\n  - `maxlod<N>`: LOD が `<N>` 以下で、各エリアごとに利用可能な最高 LOD を採用\n- `interior` (省略可):\n  - 省略時: 屋外モデル（CityGML 3.0 以前のデータも含む）\n  - `interior`: CityGML 3.0 の屋内モデル（屋内データセット）のみ\n- `texture` (省略可):\n  - 省略時: テクスチャありを優先、無ければテクスチャなしを採用\n  - `texture`: テクスチャありのデータのみ\n  - `notexture`: テクスチャなしのデータのみ\n- `year`:\n  - 西暦4桁: その整備年度のデータのみを採用\n  - `latest`: 整備年度のフィルタを行わず、各自治体について利用可能な最新整備年度のデータを採用\n\n例:\n\n- `/datacatalog/3dtiles/all-bldg-lod1-2025/tileset.json`\n- `/datacatalog/3dtiles/all-bldg-maxlod2-2025/tileset.json`\n- `/datacatalog/3dtiles/13-bldg-lod2-texture-2025/tileset.json`\n- `/datacatalog/3dtiles/13101-bldg-lod2-notexture-2025/tileset.json`\n- `/datacatalog/3dtiles/all-bldg-lod2-latest/tileset.json`\n- `/datacatalog/3dtiles/13101-bldg-lod3-interior-2025/tileset.json`\n","parameters":[{"in":"path","name":"spec","required":true,"schema":{"type":"string"},"example":"all-bldg-lod1-2025"}],"responses":{"200":{"description":"3D Tiles 1.1 形式の tileset.json","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"spec の書式が不正","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/datacatalog/mvt/{spec}/tilejson.json":{"get":{"summary":"自治体単位の MVT TileJSON","tags":["Data Catalog API"],"description":"自治体単位の MVT データセットに対する TileJSON 3.0 ドキュメントを動的生成します。\nMapLibre GL JS / Mapbox GL JS など TileJSON を扱うクライアントから 1 つの URL で利用できます。\n\nパスパラメータ `spec` の書式は次の通りです：\n\n```\n<cityCode>-<type>[-lod<N>][-interior]-<year>\n```\n\n- `cityCode`: 5桁の市区町村コード（区がある場合は区コード、無ければ市コード）\n- `type`: データセットの種別コード（例: `luse`、`fld`）\n- `lod<N>` (省略可):\n  - 省略時: LOD が指定されていないデータセットを採用\n  - `lod<N>`: LOD が `<N>` のデータセットを採用\n- `interior` (省略可):\n  - 省略時: 屋外モデル\n  - `interior`: CityGML 3.0 の屋内モデルのみ\n- `year`:\n  - 西暦4桁: その整備年度のデータのみを採用\n  - `latest`: 利用可能な最新整備年度のデータを採用\n\n例:\n\n- `/datacatalog/mvt/13101-luse-2025/tilejson.json`\n- `/datacatalog/mvt/13101-luse-latest/tilejson.json`\n- `/datacatalog/mvt/13101-fld-lod1-2025/tilejson.json`\n- `/datacatalog/mvt/13101-bldg-lod3-interior-2025/tilejson.json`\n","parameters":[{"in":"path","name":"spec","required":true,"schema":{"type":"string"},"example":"13101-luse-2025"}],"responses":{"200":{"description":"TileJSON 3.0 形式のドキュメント","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"spec の書式が不正","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"該当する MVT データセットが見つからない","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/datacatalog/citygml/{spec}/citygml.zip":{"get":{"summary":"自治体単位の CityGML zip リダイレクト","tags":["Data Catalog API"],"description":"指定した自治体・整備年度の CityGML zip ファイルへ 302 リダイレクトする安定 URL。\n実体ファイルは PLATEAU CMS から配信されるため、CMS 上のアセットパスが変わっても\nアプリケーション側の URL は維持できます。\n\nパスパラメータ `spec` の書式：\n\n```\n<cityCode>-<year|latest>\n```\n\n- `cityCode`: 5桁の市区町村コード\n- `year`:\n  - 西暦4桁: その整備年度のデータ\n  - `latest`: 利用可能な最新整備年度のデータ\n\n例:\n\n- `/datacatalog/citygml/13101-2025/citygml.zip`\n- `/datacatalog/citygml/13101-latest/citygml.zip`\n","parameters":[{"in":"path","name":"spec","required":true,"schema":{"type":"string"},"example":"13101-latest"}],"responses":{"302":{"description":"PLATEAU CMS 上の zip ファイル URL へリダイレクト"},"400":{"description":"spec の書式が不正","content":{"application/json":{"schema":{"type":"object"}}}},"404":{"description":"該当する CityGML データセットが見つからない","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/datacatalog/citygml/{conditions}":{"get":{"summary":"CityGMLファイルのURLリストを取得","description":"指定した範囲に含まれるCityGMLファイルのURLリストを取得します。\n\n空間クエリ（`m:` / `mm:` / `s:` / `r:` / `g:`）から解決される都市数が50を超える場合は `400 Bad Request` を返します。都道府県全体や日本全体のような広域の指定はエラーになるため、範囲を分割して指定してください。自治体コードの直接指定にはこの上限は適用されません。\n","tags":["Data Catalog API"],"parameters":[{"name":"conditions","in":"path","required":true,"schema":{"type":"string"},"description":"地理的なエリアや都市の情報をフィルタリングするための条件。詳細は[ドキュメント](https://github.com/Project-PLATEAU/plateau-streaming-tutorial/blob/main/citygml/plateau-citygml.md)参照。\n\n使用例: `m:533945`, `s:spatialID`, `r:135.5,35.0`, `g:locationName`\n"},{"name":"types","in":"query","required":false,"schema":{"type":"string"},"description":"取得する地物型をカンマ区切りで指定。指定しない場合は全ての地物型を取得する。\n\n主な地物型:\n- `bldg`: 建築物モデル\n- `tran`: 交通（道路）モデル\n- `luse`: 土地利用モデル\n- `dem`: 地形モデル\n- `fld`: 洪水浸水想定区域モデル\n- `lsld`: 土砂災害警戒区域モデル\n- `urf`: 都市計画決定情報モデル\n\n使用例: `types=bldg,tran`\n\n`:conditions`パラメータは以下の条件タイプに対応している。\n\n1. **メッシュコード (`m`)**\n    - **概要**: カンマ区切りで複数のメッシュコードに基づいてエリアを指定。2次メッシュ（6桁）・3次メッシュ（8桁）・1/2メッシュ（9桁）・1/4メッシュ（10桁）に対応する。メッシュコードはハイフンで区切らず数値だけで表すこと。\n    - **形式**: `m:<メッシュコード>`\n    - **例**: `m:533944,533945`\n\n        https://api.plateauview.mlit.go.jp/datacatalog/citygml/m:533935\n\n2. **メッシュコード厳密検索 (`mm`)**\n    - **概要**: 1とほぼ同じだが、1と比べ、メッシュコードの桁数が完全に一致するCityGMLのみを取得する。2次メッシュの場合は2次メッシュのデータセットのみが、3次メッシュの場合は3次メッシュのCityGMLのみがヒットする。\n    - **形式**: `mm:<メッシュコード>`\n    - **例**: `mm:533944,533945`\n\n        https://api.plateauview.mlit.go.jp/datacatalog/citygml/mm:533935\n\n3. **空間ID (`s`)**\n    - **概要**: カンマ区切りで複数の空間IDを使用してエリアを指定。\n    - **形式**: `s:<空間ID>,<空間ID>,...`\n        - 空間IDは、`z/x/y`、 `z/f/x/y`、 `/z/x/y` 、 `/z/f/x/y` 、およびタイルハッシュの表記に対応。\n    - **例**\n        - https://api.plateauview.mlit.go.jp/datacatalog/citygml/s:18/1/232853/103220\n\n        （ `z/f/x/y` ）\n\n4. **座標範囲 (`r`)**\n    - **概要**: 座標範囲を指定してエリアを指定。\n    - **形式**:\n        - 2要素（`lng`, `lat`）で中心点を指定する場合: `r:lng,lat`\n        - 4要素（`lng1`, `lat1`, `lng2`, `lat2`）で範囲を指定する場合: `r:lng1,lat1,lng2,lat2`\n\n            注意：`lng1` < `lng2`, `lat1` < `lat2` となるように指定する必要がある。\n\n    - **例**:\n        - 中心点の指定: `r:139.7375,35.65833333333333`\n\n            https://api.plateauview.mlit.go.jp/datacatalog/citygml/r:139.7385,35.65933333333333\n\n        - 範囲の指定: `r:139.7375,35.65833333333333,139.74,35.66`\n\n            https://api.plateauview.mlit.go.jp/datacatalog/citygml/r:139.7375,35.65833333333333,139.74,35.66\n\n5. **ジオコーディング (`g`)**\n    - **概要**: ジオコーディングAPIを用いてエリアを指定する。\n    - **形式**: `g:<ロケーション名>`\n    - **例**: `g:千代田区`\n\n        [https://api.plateauview.mlit.go.jp/datacatalog/citygml/g:千代田区](https://api.plateauview.mlit.go.jp/datacatalog/citygml/g:%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA)\n\n6. **自治体コード**\n    - **概要**: カンマ区切りで複数の自治体コードを指定する。\n    - **形式**: `cityId1,cityId2,...`\n    - **例**: `13999`\n\n        https://api.plateauview.mlit.go.jp/datacatalog/citygml/13999\n"}],"responses":{"200":{"description":"成功時のレスポンス","content":{"application/json":{"schema":{"type":"object","properties":{"cityCode":{"type":"string","description":"The unique code representing the city."},"cityName":{"type":"string","description":"The name of the city."},"year":{"type":"integer","description":"The year associated with the CityGML data."},"registrationYear":{"type":"integer","description":"The year of registration for the CityGML data."},"spec":{"type":"string","description":"The specification of the CityGML data."},"metadataZipUrls":{"type":"array","items":{"type":"string","format":"uri","description":"The URL for accessing the metadata zip file."}},"url":{"type":"string","format":"uri","description":"The URL for accessing the CityGML data."},"files":{"type":"object","description":"A map of CityGML file lists grouped by type.","additionalProperties":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"The mesh code representing the geographic area."},"maxLod":{"type":"integer","description":"The maximum Level of Detail (LOD) available for the CityGML file."},"url":{"type":"string","format":"uri","description":"The URL to access this specific CityGML file."},"fileSize":{"type":"integer","format":"int64","description":"The file size in bytes."},"features":{"type":"integer","description":"The total number of features in the CityGML file."},"lod0":{"type":"integer","nullable":true,"description":"The number of features with LOD0, or null if not available."},"lod1":{"type":"integer","nullable":true,"description":"The number of features with LOD1, or null if not available."},"lod2":{"type":"integer","nullable":true,"description":"The number of features with LOD2, or null if not available."},"lod3":{"type":"integer","nullable":true,"description":"The number of features with LOD3, or null if not available."},"lod4":{"type":"integer","nullable":true,"description":"The number of features with LOD4, or null if not available."}},"required":["code","maxLod","url"]}}},"featureTypes":{"type":"object","description":"A map of feature types available in the CityGML data.","additionalProperties":{"type":"object","properties":{"name":{"type":"string","description":"The name of the feature type."}}}}},"required":["cityCode","cityName","year","registrationYear","spec","metadataZipUrls","url","files","featureTypes"]}}}},"400":{"description":"範囲が広すぎる、または条件が不正","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"リソースが見つからない","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/spec/search":{"get":{"summary":"仕様書の全文検索","description":"PLATEAU 3D都市モデルの標準製品仕様書・標準作業手順書を全文検索し、該当セクションのパス・関連度スコア・スニペットを返します。\n得られた `path` は `/spec/read` に渡して本文を取得できます。\n","tags":["Data Catalog API"],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"description":"検索クエリ。日本語・英語に対応。例: `LOD`, `CityGML`, `属性`, `メタデータ`"},{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["standard","procedure","all"],"default":"all"},"description":"検索対象。`standard`(標準製品仕様書) / `procedure`(標準作業手順書) / `all`(両方)。既定: `all`"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"maximum":50},"description":"最大取得件数。既定: 10、最大: 50"}],"responses":{"200":{"description":"成功時のレスポンス","content":{"application/json":{"schema":{"type":"object","properties":{"query":{"type":"string"},"results":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","description":"セクションのタイトル"},"path":{"type":"string","description":"`/spec/read` で本文取得に使うパス"},"document_type":{"type":"string","enum":["standard","procedure"],"description":"該当文書の種類"},"score":{"type":"number","description":"関連度スコア"},"snippets":{"type":"array","items":{"type":"string"},"description":"マッチした箇所の抜粋"}}}}}}}}},"400":{"description":"クエリが不正","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"500":{"description":"検索インデックスの初期化または検索に失敗","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/spec/outline":{"get":{"summary":"仕様書の目次（アウトライン）取得","description":"仕様書の章・節の階層構造とパスを取得します。得られた `path` は `/spec/read` に渡して本文取得に使用します。\n","tags":["Data Catalog API"],"parameters":[{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["standard","procedure"],"default":"standard"},"description":"対象文書。既定: `standard`"},{"name":"depth","in":"query","required":false,"schema":{"type":"integer","default":2,"minimum":1,"maximum":4},"description":"取得する階層の深さ。1=章のみ、2=章+節。既定: 2、最大: 4"},{"name":"chapter","in":"query","required":false,"schema":{"type":"string"},"description":"特定の章のみ取得する場合に指定。例: `toc4`"},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["json","markdown"],"default":"json"},"description":"出力形式。既定: `json`"}],"responses":{"200":{"description":"成功時のレスポンス。format=json は目次項目の配列、format=markdown は Markdown テキスト。","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/specOutlineItem"}}},"text/markdown":{"schema":{"type":"string"}}}},"500":{"description":"目次の取得に失敗","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/spec/read":{"get":{"summary":"仕様書セクションの本文取得","description":"指定したパスのセクション本文を Markdown で取得します(既定で子セクションを含む)。\nパスは `/spec/outline` または `/spec/search` で取得します。\n","tags":["Data Catalog API"],"parameters":[{"name":"path","in":"query","required":true,"schema":{"type":"string"},"description":"取得するパス。例: `toc1`, `/plateaudocument/toc4`"},{"name":"document_type","in":"query","required":false,"schema":{"type":"string","enum":["standard","procedure"],"default":"standard"},"description":"対象文書。既定: `standard`"},{"name":"single_page","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"true の場合、子セクションを含めず単一ページのみ取得。既定: false"},{"name":"format","in":"query","required":false,"schema":{"type":"string","enum":["markdown","json"],"default":"markdown"},"description":"出力形式。既定: `markdown`"}],"responses":{"200":{"description":"成功時のレスポンス","content":{"text/markdown":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"object","properties":{"path":{"type":"string"},"document_type":{"type":"string"},"content":{"type":"string"}}}}}},"400":{"description":"path が指定されていない","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"指定パスのコンテンツが見つからない","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/citygml/pack":{"post":{"summary":"CityGMLファイルを含んだzipファイルの非同期作成をリクエスト","tags":["CityGML Pack API"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"urls":{"type":"array","items":{"type":"string","description":"PLATEAU CMSから配信されるファイルのURL"}}}}}}},"responses":{"200":{"description":"リクエストが受理され、ステータス確認のためのID（パックID）が返却","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}}}}}},"400":{"description":"無効なリクエストやURLエラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"500":{"description":"サーバーエラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/citygml/pack/{id}/status":{"get":{"summary":"指定したIDのCityGMLパックプロセスの状態を確認","tags":["CityGML Pack API"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"パックID"}],"responses":{"200":{"description":"パック処理の状態を返却","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["accepted","processing","succeeded","failed"]},"startedAt":{"type":"string","format":"date-time"},"progress":{"type":"number","minimum":0,"maximum":1}}}}}},"404":{"description":"ファイルが存在しない","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/citygml/pack/{id}.zip":{"get":{"summary":"指定したIDのCityGMLパックファイルをダウンロード","tags":["CityGML Pack API"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"パックID"}],"responses":{"302":{"description":"リダイレクトしてファイルのダウンロードが開始"},"400":{"description":"ファイルの状態が不正または処理未完了","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"ファイルが存在しない","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}},"/citygml/attributes":{"get":{"summary":"CityGMLの属性情報を取得","tags":["CityGML API"],"parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"},"description":"CityGMLファイルのURL"},{"name":"id","in":"query","required":true,"schema":{"type":"string"},"description":"カンマ区切りのgml:id"}],"responses":{"200":{"description":"成功時のレスポンス","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"地物の属性情報","additionalProperties":true,"properties":{"gml:id":{"type":"string","description":"地物のID"},"_type":{"type":"string","description":"地物の型"},"_bbox":{"type":"object","description":"ジオメトリのバウンディングボックス（lod1Solid）","properties":{"min":{"type":"object","properties":{"lng":{"type":"number","format":"double","description":"最小経度"},"lat":{"type":"number","format":"double","description":"最小緯度"},"alt":{"type":"number","format":"double","description":"最小高度（m・標高）"}}},"max":{"type":"object","properties":{"lng":{"type":"number","format":"double","description":"最大経度"},"lat":{"type":"number","format":"double","description":"最大緯度"},"alt":{"type":"number","format":"double","description":"最大高度（m・標高）"}}},"center":{"type":"object","description":"バウンディングボックスの中心座標","properties":{"lng":{"type":"number","format":"double","description":"中心経度"},"lat":{"type":"number","format":"double","description":"中心緯度"},"alt":{"type":"number","format":"double","description":"中心高度（m・標高）"}}}}}}}}}}},"400":{"description":"無効なリクエスト","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"500":{"description":"サーバーエラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}},"/citygml/features":{"get":{"summary":"空間ID内の地物IDリストを取得","tags":["CityGML API"],"parameters":[{"name":"sid","in":"query","required":true,"schema":{"type":"string"},"description":"カンマ区切りの空間ID"}],"responses":{"200":{"description":"成功時のレスポンス","content":{"application/json":{"schema":{"type":"object","properties":{"featureIds":{"type":"array","items":{"type":"string"}}}}}}}}}},"/citygml/spatialid_attributes":{"get":{"summary":"空間IDと地物型による属性情報取得","tags":["CityGML API"],"parameters":[{"name":"sid","in":"query","required":true,"schema":{"type":"string"},"description":"カンマ区切りの空間ID"},{"name":"skip_code_list_fetch","in":"query","required":false,"schema":{"type":"boolean"},"description":"属性のコードリストを取得しない場合はtrueを指定。デフォルトはfalse。"},{"name":"type","in":"query","required":true,"schema":{"type":"string"},"description":"カンマ区切りの地物型"}],"responses":{"200":{"description":"属性情報のJSON形式での返却","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"地物の属性情報","additionalProperties":true,"properties":{"gml:id":{"type":"string","description":"地物のID"},"_type":{"type":"string","description":"地物の型"},"_bbox":{"type":"object","description":"ジオメトリのバウンディングボックス（lod1Solid）","properties":{"min":{"type":"object","properties":{"lng":{"type":"number","format":"double","description":"最小経度"},"lat":{"type":"number","format":"double","description":"最小緯度"},"alt":{"type":"number","format":"double","description":"最小高度（メートル・標高）"}}},"max":{"type":"object","properties":{"lng":{"type":"number","format":"double","description":"最大経度"},"lat":{"type":"number","format":"double","description":"最大緯度"},"alt":{"type":"number","format":"double","description":"最大高度（メートル・標高）"}}},"center":{"type":"object","description":"バウンディングボックスの中心座標","properties":{"lng":{"type":"number","format":"double","description":"中心経度"},"lat":{"type":"number","format":"double","description":"中心緯度"},"alt":{"type":"number","format":"double","description":"中心高度（メートル・標高）"}}}}}}}}}}},"400":{"description":"無効なリクエスト","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"リソースが見つからない","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"500":{"description":"サーバーエラー","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}}},"components":{"schemas":{"error":{"type":"object","properties":{"error":{"type":"string","description":"エラーメッセージ"},"url":{"type":"string","description":"エラーが発生したURL"},"reason":{"type":"string","description":"エラーの原因"}},"required":["error"]},"specOutlineItem":{"type":"object","description":"仕様書の目次項目（再帰的）","properties":{"id":{"type":"string"},"title":{"type":"string"},"path":{"type":"string","description":"`/spec/read` で本文取得に使うパス"},"children":{"type":"array","items":{"$ref":"#/components/schemas/specOutlineItem"}}}}}}}